/*================= Font Includes =================================*/
@import url(https://fonts.googleapis.com/css?family=Oswald);

html, body {
    background-color: #EFEFEF;
    font-family: Oswald, Arial, sans-serif;
    background: url(../img/background1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p, a {
    color: #000000;
}

.exitButton {
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    background-image: url(../media/exit.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.exitButton:hover {
    background-image: url(../media/exit-hover.svg);
}

main {
    position: relative;
}

/* Do not change!!! */
/**//* --------------- *//**/
/**/ scrlpt {            /**/
/**/    display: none;   /**/
/**/ }                   /**/
/**//* --------------- *//**/

/*================= Logo styling ==================================*/
.logo a, .logo a:link, .logo a:visited, .logo a:active {
    margin-left: 5%;
    font-size: 2em;
    text-decoration: none;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: #000000;
}

.logo a:hover {
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

.hidden {
    display: none;
}

/*================= Box styling ===================================*/
.box {
    z-index: 0;
    margin-top: 50px;
    width: 300px;
    padding: 1em 1em 1em 1em;
    border-radius: 5px;
    background-color: orange;
    border: 5px solid darkslategray;
}

.box a {
    display: inline-block;
    padding: 1em 1em 1em 1em;
    width: 110px;
    text-align: center;
    background-color: darkslategray;
    text-decoration: none;
    color: #ffffff;
    border-radius: 2px;
}

.box a:hover {
    background-color: gray;
}

/*================= Input fields ==================================*/
form {
    width: 90%;
}

input, textarea {
    width: 290px;
    padding: 5px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

.g-recaptcha {
    margin-top: 1em;
}

input:focus, input.focus, textarea:focus, textarea.focus {
    border-bottom: solid 2px #969696;
}

input[type='submit'] {
    width: 300px;
    margin-top: 1em;
    font-size: 1.2em;
}

textarea {
    width: 290px;
    height: 100px;
}

.dataValid {
    border: solid 3px darkolivegreen;
    width: 286px;
}

.dataValid.focus, .dataValid:focus {
    border: solid 3px darkolivegreen;
}

.dataInvalid {
    border: solid 3px red;
    width: 286px;
}

.dataInvalid.focus, .dataInvalid:focus {
    border: solid 3px red;
}

/*================= login/register/logout/home/message/others ===================================*/
#login, #register, #home, #logout, #messageBox, #others {
    margin-left: auto;
    margin-right: auto;
}

/*================ Footer  =============================================*/
footer {
    position: fixed;
    bottom: 20px;
    display: inline-block;
    padding: 0.2em 1em 0.2em 1em;
    background-color: darkslategray;
    text-decoration: none;
    border-radius: 2px;
}

footer p {
    color: #ffffff;
}

/*================ others  =============================================*/
#others a {
    margin-bottom: 1em;
    margin-right: 0.3em;
}

/*================ otherGroups  =============================================*/
#otherGroups {
    position: fixed;
    bottom: 20px;
    left: 500px;
    display: block;
    padding: 0.2em 1em 0.2em 1em;
    background-color: darkslategray;
    text-decoration: none;
    border-radius: 2px;
}

#otherGroups:hover {
    background-color: gray;
}

#otherGroups a {
    color: #ffffff;
    text-decoration: none;
}

/*================ Overview ============================================*/
#overview {
    position: relative;
    min-width: 1000px;
}

#overview #title {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin-left: 5%;
}

#overviewOfPosts {
    margin-left: 2%;
    margin-right: 2%;
    min-width: 1000px;
}

#postFormBox {
    display: none;
    z-index: 12345678;
    top: 25%;
    position: fixed;
    width: 300px;
    right: 0;
    left: 0;
    margin: auto;
    -webkit-box-shadow: -2px 3px 115px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: -2px 3px 115px 0px rgba(0, 0, 0, 0.53);
    box-shadow: -2px 3px 115px 0px rgba(0, 0, 0, 0.53);
}

.post {
    float: left;
    width: 20%;
    margin-left: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    padding: 0 1% 0 1%;
    background-color: orange;
    border: 5px solid darkslategray;
    overflow: hidden;
}

.post .message {
    display: inline-block;
    overflow: hidden;
    padding: 0.5em 0 0.5em 0;
    width: 80%;
    height: 8em;
    float: right;
    font-size: 0.8em;
    word-wrap: break-word;
}

.post .info {
    font-size: 0.8rem;
    clear: both;
}

.post img {
    float: left;
    display: inline-block;
    height: 60px;
    width: 60px;
}

.buttons {
    width: 100%;
    position: fixed;
    top: 120px;
    left: 60%;
}

.buttons .button {
    display: inline-block;
    padding: 1em 1em 1em 1em;
    background-color: darkslategray;
    text-decoration: none;
    color: #ffffff;
    border-radius: 2px;
    width: 60px;
    text-align: center;
}

.buttons .button:hover {
    background-color: gray;
}
@media (max-width: 1300px) {
    .post {
        width: 40%;
    }



    #login, #register, #home, #logout, #messageBox, #others {
        margin-left: 35%;
        margin-right: auto;
    }
}
}*/